@import "tailwindcss";

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

@theme{
    --color-body-bg:#1A1A1A;
    --color-main-color:#FF9142;
    --color-text-color:#A8A8A8;

    --font-Syne:"Syne", serif;
    --font-Rubik:"Rubik", serif";

}

